/**modal css**/
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width:100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.modal-main {
  position:fixed;
  background: white;
  width: 80%;
  height: auto;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}

/*** Form field ***/


.MuiFormControl-root.MuiTextField-root {
    min-width: 66%;
    padding: 1px;
}
.MuiFormControl-root.MuiTextField-root {
    min-width: 24%;
    padding: 5px;
    margin: 5px 16px;
}
.makeStyles-paper-2 {
    width: 50%;
}
body > div.makeStyles-modal-1 > div.makeStyles-paper-2 > div > form{
    width: auto !important;
    margin: 8px;
}
.makeStyles-root-3 > * {
    width: auto !important;
    }
    textarea {
        min-width: 43%;
        min-height: 57px;
        padding: 5px;
        margin: 6px 17px;
        border-style: solid;
        border-width: 1px;
        border-color: #3332334a;
        border-radius: 5px;
    }
    select#Limit {
        background: #d2cece;
        padding: 11px 11px;
        border-radius: 17px;
        margin: 18px 12px;
    }
.dropdownselect{
     padding: 5px;
    margin: 10px 16px;
}
button.registerbtn {
    text-align: center;
    margin: 10px 36px;
    padding: 13px 28px;
    background: #2727d8;
    color: #fff;
    font-size: 20px;
    border-radius: 29px;

}
.registerbtn {
    text-align: center;
}
#root > nav > div  > a:nth-child(2)> div:nth-child(1)> svg ,
#root > nav > div > a:nth-child(3) > div:nth-child(1) > svg,
#root > nav > div > a:nth-child(4) > div:nth-child(1) > svg,
#root > nav > div > a:nth-child(5) > div:nth-child(1) > svg,
#root > nav > div > a:nth-child(6) > div:nth-child(1) > svg,
#root > nav > div > a:nth-child(7) > div:nth-child(1) > svg,
#root > nav > div > a:nth-child(8) > div:nth-child(1) > svg,
#root > nav > div > a:nth-child(9) > div:nth-child(1) > svg,
#root > nav > div > a:nth-child(10) > div:nth-child(1) > svg{
    display: inline;
}
.sc-gKAaRy.bbjGoO {
    position: relative;
}
av.sc-jSFjdj.bYfSLW {
    position: relative;
}

/**Table CSS**/
.tabledetails {
    align-items: center;
    text-align: center;
    margin: 10px;
    padding: 3px 4px;
    margin: 10px 163px;
    
}
/*.headerrow > th {
    padding: 23px;
    border: 1px solid #848080;
    text-align: left;
    background: #dfe0e0;
}
tr.valuerow {
    background: #eff0f1;
    border: 1px solid #666;
    border-right: 1px solid #666;
}
td {
    border-right: 1px solid #666;
        padding: 19px;

}
**/